# File names:
.dirstamp

# Directory names:
.deps/
.libs/

# File extensions:
*.o
*.tar.gz
*.la
*.lo
*.gcno
*.log
*.m4

# Absolute paths:
/autom4te.cache/
/ar-lib
/cf-policy/Makefile
/cf-policy/Makefile.in
/cf-policy/cf-policy
/build-aux/
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.sub
/config.log
/config.status
/configure
/custom_config.h
/custom_config.h.in
/depcomp
/install-sh
/libtool
/libpolicy/Makefile
/libpolicy/Makefile.in
/libpolicy/cf_tokenizer.c
/libpolicy/cf_parser.c
/libpolicy/cf_parser.h
/libpolicy/lex.yy.c
/ltmain.sh
/Makefile
/Makefile.in
/missing
/stamp-h1
/test-driver
/tests/unit/Makefile
/tests/unit/Makefile.in
/tests/unit/test_parse_lib
/tests/unit/test_parse_lib.trs
/ylwrap
