# File names:
.dirstamp

# Directory names:
.deps/
.libs/

# File extensions:
*.o
*.tar.gz
*.la
*.lo
*.gcno
*.log
*.m4

# Absolute paths:
/autom4te.cache/
/ar-lib
/cf-syntax_libs
/cf-syntax_zero
/cf-syntax/cf-syntax_libs
/cf-syntax/cf-syntax_zero
/cf-syntax/Makefile
/cf-syntax/Makefile.in
/cf-syntax/cf-syntax
/cf-syntax/cf_tokenizer.c
/cf-syntax/cf_parser.c
/cf-syntax/cf_parser.h
/cf-syntax/lex.yy.c
/build-aux/
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.sub
/config.log
/config.status
/configure
/custom_config.h
/custom_config.h.in
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/stamp-h1
/test-driver
/tests/unit/Makefile
/tests/unit/Makefile.in
/tests/unit/test_argv_lib
/tests/unit/test_argv_lib.trs
